<a
  class="link"
  target="_blank"
  referrerpolicy="strict-origin"
  tabindex="0"
  [ngClass]="linkClass"
  [attr.aria-label]="link.name"
  [href]="link.link"
  (click)="onLinkClick($event)"
>
  <div
    *ngIf="link.image && !imageError; else defaultIcon"
    [ngClass]="imageWrapperClass"
    class="link__image-wrapper"
  >
    <img
      [src]="link.image"
      [alt]="link.name"
      loading="lazy"
      class="link__image"
      [ngClass]="imageClass"
      (error)="onImageError()"
    />
  </div>
  <ng-template #defaultIcon>
    <app-web-icon width="32" height="32" class="link__icon-wrapper" [ngClass]="imageClass" iconClass="link__icon"></app-web-icon>
  </ng-template>

  <div class="link__info">
    <p class="link__info-name">
      {{ link.name }}
    </p>

    <span class="link__info-link">
      {{ link.link | shortLink }}
    </span>
  </div>
</a>

<app-dropdown
  *ngIf="action === 'menu'"
  position="right"
  label="Link actions"
  [id]="dropdownId"
  [options]="dropdownOptions"
  class="link__info-action-icon-wrapper link__info-menu-icon-wrapper"
>
  <app-menu-icon
    width="18"
    height="18"
    iconClass="link__info-action-icon"
  ></app-menu-icon>
</app-dropdown>
