<a
  class="link"
  target="_blank"
  tabindex="0"
  [attr.aria-label]="link.name"
  [href]="link.link"
  (click)="onLinkClick($event)"
>
  <div *ngIf="link.image && !imageError; else defaultIcon" class="link__image-wrapper">
    <img
      [src]="link.image"
      [alt]="link.name"
      class="link__image"
      [ngClass]="imageClass"
      (error)="onImageError()"
    />
  </div>
  <ng-template #defaultIcon>
    <app-web-icon width="32" height="32" class="link__icon-wrapper" [ngClass]="imageClass" iconClass="link__icon"></app-web-icon>
  </ng-template>

  <div class="link__info">
    <p class="link__info-name">
      {{ link.name }}
    </p>

    <span class="link__info-link">
      {{ link.link | shortLink }}
    </span>

    <app-redirect-icon
      *ngIf="action === 'redirect'"
      width="18"
      height="18"
      class="link__info-action-icon-wrapper"
      iconClass="link__info-action-icon"
    ></app-redirect-icon>
  </div>
</a>

<app-dropdown
  *ngIf="action === 'menu'"
  [options]="dropdownOptions"
  position="right"
  class="link__info-action-icon-wrapper link__info-menu-icon-wrapper"
>
  <app-menu-icon
    width="18"
    height="18"
    iconClass="link__info-action-icon"
  ></app-menu-icon>
</app-dropdown>
