@import "mixins";
@import "scss-variables";

.button {
  position: relative;
  z-index: $component-z-index;
  overflow: hidden;
  cursor: pointer;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.25rem;
  letter-spacing: 0.031rem;
  background-color: $primary-color;
  @include font(1rem, 500, $white, center);
  @include flex(row, center, center);
  transition: background-color .2s ease, box-shadow .2s ease, opacity .2s ease;

  &--loading {
    .button__content {
      opacity: 0;
    }
  }

  &:not(:disabled) {
    @include hover() {
      box-shadow: 0 0 0.313rem var(--shadow-md-color);
      background-color: $primary-color-hover;
    }

    @include active() {
      box-shadow: 0 0 0.35rem var(--shadow-lg-color);
    }
  }

  &:not(&--loading):disabled {
    .button__content {
      opacity: 0.6;
    }
  }

  // variants
  &--rounded {
    width: 100%;
    padding: 0.7rem 0.9rem;
    border-radius: 1.5rem;
    justify-content: flex-start;
  }

  &--circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: var(--fab-shadow);
  }
}

.button:disabled {
  cursor: default;
  background-color: $primary-color-600;
}

.button__content {
  opacity: 1;
  @include flex(row, center, center);
  transition: opacity .2s ease;
}

.button__loader {
  position: absolute;
  color: $white;
}

.ripple {
  position: absolute;
  z-index: $negative-z-index;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.4);
  transform: scale(0);
  animation: ripple 0.7s ease-in-out forwards;
}

@keyframes ripple {
  to {
    transform: scale(2.5);
    opacity: 0;
  }
}
