<button
  class="button"
  [type]="type"
  [disabled]="loading || disabled"
  [ngClass]="{ 'button--loading': loading, 'button--rounded': variant === 'rounded', 'button--circle': variant === 'circle' }"
  (click)="onClick($event)"
  (mousedown)="onMouseDown($event)"
>
  <div
    *ngFor="let ripple of ripples"
    class="ripple"
    [ngStyle]="{ left: ripple.left, top: ripple.top }"
  ></div>

  <div class="button__content">
    <ng-content></ng-content>
  </div>

  <app-loader *ngIf="loading" size="small" class="button__loader"></app-loader>
</button>
