<button
  type="button"
  role="combobox"
  class="select"
  [attr.aria-labelledby]="labelId"
  [attr.aria-controls]="containerId"
  [attr.aria-owns]="containerId"
  [attr.aria-expanded]="open.toString()"
  [tabindex]="disabled ? -1 : 0"
  [disabled]="disabled"
  (click)="onClick()"
>
  <span
    [ngStyle]="{ backgroundColor: placeholderBackgroundColor }"
    [ngClass]="{ 'select__placeholder--divided': value }"
    [id]="labelId"
    class="select__placeholder"
  >
    {{ placeholder }}
  </span>

  <div *ngIf="value" class="select__value">
    <div *ngIf="value.icon" [ngSwitch]="value.icon" class="select__value-icon-wrapper">
      <app-link-icon *ngSwitchCase="'link'" iconClass="select__value-icon"></app-link-icon>
      <app-folder-icon *ngSwitchCase="'folder'" iconClass="select__value-icon"></app-folder-icon>
    </div>

    <span class="select__value-name">
      {{ value.value }}
    </span>
  </div>

  <app-chevron-down-icon
    width="28"
    height="28"
    iconClass="select__chevron"
    class="select__chevron-wrapper"
  ></app-chevron-down-icon>
</button>

<div
  *ngIf="open && options.length"
  role="listbox"
  class="select-options"
  [attr.aria-labelledby]="labelId"
  [id]="containerId"
  [@fadeTranslateInOut]
>
  <app-option
    *ngFor="let option of options; let i = index"
    [option]="option"
    [selected]="option.key === value?.key"
    [focused]="i === focused"
    (optionClick)="onSelect($event)"
  ></app-option>
</div>

<div
  *ngIf="open && !options.length"
  class="select-options"
  role="alert"
  [@fadeTranslateInOut]
>
  <span class="select-options__empty">
    No folders
  </span>
</div>

<p
  *ngIf="showError && errorMessage"
  role="alert"
  class="select-error"
  [@fadeInOut]
>
  {{ errorMessage }}
</p>
