<div class="modal-overlay">
  <div
    role="dialog"
    aria-modal="true"
    [attr.aria-busy]="loading"
    [attr.aria-label]="title"
    class="modal-content-wrapper"
    (click)="onContentWrapperClick($event)"
    (keydown)="onContentWrapperKeyDown()"
  >
    <div
      [ngClass]="{ 'modal-content--fullscreen': fullscreen }"
      class="modal-content"
    >
      <app-modal-header
        [title]="title"
        (modalHeaderClose)="onClose()"
      ></app-modal-header>

      <div
        *ngIf="loading"
        [@modalLoaderAnimation]
        class="modal-loader-overlay"
      >
        <app-loader size="large" class="modal-loader"></app-loader>
      </div>

      <ng-content></ng-content>
    </div>
  </div>
</div>
