@import "mixins";

:host {
  width: 100%;
}

.profile-tabs-wrapper {
  margin-top: 1.5rem;
  width: 100%;
  flex-wrap: wrap;
  @include flex(row, flex-start, space-between);
}

.profile-tabs-wrapper__page {
  width: 55%;
  @include flex(row, flex-start, flex-start);
}

@media (max-width: 768px) {
  .profile-tabs-wrapper__page {
    margin-top: 2rem;
    width: 100%;
  }
}
