html, body, input, button {
  font-family: 'Rubik',Helvetica,Arial,sans-serif;
}

@media (max-width: 320px) {
  html,
  body {
    font-size: 12px;
  }
}

@media (max-width: 250px) {
  html,
  body {
    font-size: 8px;
  }
}

@media (max-width: 170px) {
  html,
  body {
    font-size: 6px;
  }
}

@media (min-width: 1919px) {
  html,
  body {
    font-size: 20px;
  }
}

@media (min-width: 2399px) {
  html,
  body {
    font-size: 24px;
  }
}

@media (min-width: 2999px) {
  html,
  body {
    font-size: 28px;
  }
}

@media (min-width: 3499px) {
  html,
  body {
    font-size: 32px;
  }
}

@media (min-width: 3999px) {
  html,
  body {
    font-size: 36px;
  }
}

@media (min-width: 4399px) {
  html,
  body {
    font-size: 40px;
  }
}

@media (min-width: 4999px) {
  html,
  body {
    font-size: 44px;
  }
}

@media (min-width: 5499px) {
  html,
  body {
    font-size: 48px;
  }
}

@media (min-width: 5999px) {
  html,
  body {
    font-size: 52px;
  }
}

@media (min-width: 6499px) {
  html,
  body {
    font-size: 56px;
  }
}

@media (min-width: 6999px) {
  html,
  body {
    font-size: 60px;
  }
}

@media (min-width: 7499px) {
  html,
  body {
    font-size: 64px;
  }
}

