<app-header-menu *ngIf="showMenu"></app-header-menu>

<div class="search">
  <app-search-icon
    width="20"
    height="20"
    class="search__icon"
    iconClass="search__icon"
    (click)="onFocusSearch(search)"
  ></app-search-icon>

  <input
    type="text"
    tabindex="0"
    placeholder="Search"
    class="search__input"
    #search
  />
</div>

<app-dropdown
  id="avatar-dropdown"
  label="Profile actions"
  position="right"
  class="avatar"
  [ngStyle]="{ paddingRight: avatarPaddingRight }"
  [options]="avatarDropdownOptions"
>
  <app-avatar
    [name]="userName"
    [src]="userAvatar"
    alt="Avatar"
    width="48"
    height="48"
    class="avatar__image"
  />
</app-dropdown>
