@import "scss-variables";
@import "mixins";

:host {
  position: fixed;
  z-index: 1;
  right: 0;
  width: calc(100% - $side-menu-width);
  height: $header-height;
  background-color: var(--header-footer-background-color);
  box-shadow: 0 0 5px var(--shadow-sm-color);
  padding: 0.5rem 2rem;
  @include flex(row, center, flex-start);
}
:host::ng-deep {
  .search__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--secondary-text-color);
  }
}

.search {
  width: 22rem;
  @include flex(row, center, flex-start);
}
.search__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid transparent;
  padding: 0.2rem 0;
  margin-left: 1rem;
  @include font(1rem, 400, var(--secondary-text-color));
  transition: border-bottom-color .2s ease;

  &:focus {
    border-bottom-color: var(--secondary-text-color);
  }

  &::placeholder {
    @include font(1rem, 400, var(--secondary-text-color));
  }
}

.avatar {
  margin-left: auto;
}
.avatar__image {
  width: 3rem;
  height: 3rem;
}
