<form class="profile-password" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
  <div class="profile-password__fields">
    <app-input
      placeholder="Old Password"
      name="old-password"
      inputId="old-password"
      type="password"
      formControlName="oldPassword"
      placeholderBackgroundColor="var(--background-color)"
      autoComplete="new-password"
      [showError]="passwordForm.controls.oldPassword.invalid && submitted"
      [error]="passwordForm.controls.oldPassword.errors"
    ></app-input>

    <app-input
      placeholder="New Password"
      name="password"
      inputId="password"
      type="password"
      formControlName="password"
      placeholderBackgroundColor="var(--background-color)"
      autoComplete="current-password"
      [showError]="passwordForm.controls.password.invalid && submitted"
      [error]="passwordForm.controls.password.errors"
    ></app-input>
  </div>

  <app-button
    type="submit"
    [loading]="loading"
    class="profile-password__submit"
  >
    Save
  </app-button>
</form>
