@import "mixins";

:host {
  width: 100%;
}

.profile-password {
  width: 100%;
  @include flex(column, flex-start, flex-start);
}

.profile-password__fields {
  width: 100%;
  row-gap: 2rem;
  @include flex(column, flex-start, flex-start);
}

.profile-password__submit {
  margin-top: 2rem;
}
