<app-auth authTitle="Sign up">
  <form class="signup" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="signup__fields">
      <app-input
        placeholder="Name"
        name="name"
        type="text"
        inputId="name"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="name"
        autoComplete="name"
        [showError]="signupForm.controls.name.invalid && submitted"
        [error]="signupForm.controls.name.errors"
      ></app-input>

      <app-input
        placeholder="Email"
        name="email"
        type="email"
        inputId="email"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="email"
        autoComplete="email"
        [showError]="signupForm.controls.email.invalid && submitted"
        [error]="signupForm.controls.email.errors"
      ></app-input>

      <app-input
        placeholder="Password"
        name="password"
        type="password"
        inputId="password"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="password"
        autoComplete="new-password"
        [showError]="signupForm.controls.password.invalid && submitted"
        [error]="signupForm.controls.password.errors"
      ></app-input>

      <app-input
        placeholder="Confirm Password"
        name="confirm-password"
        type="password"
        inputId="confirm-password"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="confirmPassword"
        autoComplete="current-password"
        [showError]="signupForm.controls.confirmPassword.invalid && submitted"
        [error]="signupForm.controls.confirmPassword.errors"
      ></app-input>
    </div>

    <div class="signup__actions">
      <app-button type="submit" [loading]="loading">
        Sign up
      </app-button>

      <a routerLink="/login" class="signup__actions-link">
        Login
      </a>
    </div>
  </form>
</app-auth>
