@import "../../../scss/abstracts/mixins";
@import "../../../scss/abstracts/scss-variables";

:host {
  width: 100%;
}

.signup {
  width: 100%;
}
.signup__fields {
  margin: 2rem 0;
  row-gap: 2rem;
  @include flex(column, flex-start, flex-start);
}
.signup__actions {
  width: 100%;
  gap: 1rem;
  @include flex(row, center, flex-start);
}
.signup__actions-link {
  text-decoration: underline;
  @include font(1rem, 500, var(--primary-text-color));
}

@media (max-width: 1000px) {
  .signup__actions {
    flex-direction: row-reverse;
  }
}
