<app-auth authTitle="Forgot Password">
  <form class="forgot-password" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
    <div class="forgot-password__fields">
      <app-input
        placeholder="Email"
        name="email"
        type="email"
        inputId="email"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="email"
        [showError]="forgotPasswordForm.controls.email.invalid && submitted"
        [error]="forgotPasswordForm.controls.email.errors"
      ></app-input>
    </div>

    <div class="forgot-password__actions">
      <app-button type="submit" [loading]="loading">
        Send
      </app-button>

      <a routerLink="/login" class="forgot-password__actions-link">
        Login
      </a>
    </div>
  </form>
</app-auth>
