<app-auth title="Login">
  <form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="login__fields">
      <app-input
        placeholder="Email"
        name="email"
        type="email"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="email"
        [showError]="loginForm.controls.email.invalid && submitted"
        [error]="loginForm.controls.email.errors"
      ></app-input>

      <app-input
        placeholder="Password"
        name="password"
        type="password"
        placeholderBackgroundColor="var(--card-color)"
        formControlName="password"
        [showError]="loginForm.controls.password.invalid && submitted"
        [error]="loginForm.controls.password.errors"
      ></app-input>
    </div>

    <div class="login__actions">
      <app-button type="submit">
        Login
      </app-button>
    </div>
  </form>
</app-auth>
