<ng-content></ng-content>

<div aria-hidden="true" class="dropdown-width" #dropdown></div>

<div
  *ngIf="open"
  [ngStyle]="{ marginTop: height + 'px', left: leftStyle + 'px', top: top + 'px' }"
  [@fadeTranslateInOut]
  class="dropdown"
>
  <div class="dropdown__content">
    <button
      *ngFor="let option of options; let i = index"
      class="dropdown__item"
      tabindex="0"
      (click)="onOptionClick(option.action)"
    >
      <div [ngSwitch]="option.icon" class="dropdown__item-icon-wrapper">
        <app-user-icon *ngSwitchCase="'profile'" iconClass="dropdown__item-icon"></app-user-icon>
        <app-logout-icon *ngSwitchCase="'logout'" iconClass="dropdown__item-icon dropdown__item-icon--logout"></app-logout-icon>
        <app-delete-icon *ngSwitchCase="'delete'" iconClass="dropdown__item-icon dropdown__item-icon--stroke"></app-delete-icon>
        <app-edit-icon *ngSwitchCase="'edit'" iconClass="dropdown__item-icon"></app-edit-icon>
      </div>

      <span class="dropdown__item-name">
        {{ option.name }}
      </span>
    </button>
  </div>
</div>
