<span
  class="input-placeholder"
  [id]="labelId"
  [ngStyle]="{ backgroundColor: placeholderBackgroundColor }"
>
  {{ placeholder }}
</span>

<input
  [type]="type"
  [name]="name"
  [value]="value"
  [id]="inputId"
  [autocomplete]="autoComplete"
  [attr.aria-labelledby]="labelId"
  [attr.aria-label]="placeholder"
  [attr.inputmode]="inputMode"
  (input)="onInput($event)"
  (focus)="onFocus()"
  (blur)="onBlur()"
  class="input"
  #input
/>

<p
  *ngIf="showError && errorMessage"
  class="input-error"
  role="alert"
  [@fadeInOut]
>
  {{ errorMessage }}
</p>
