@import "scss-variables";

:host {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.main {
  position: relative;
  min-height: calc(100dvh - $header-height);
  width: 1%;
  flex: 1 1;
  padding: 2rem;
  margin-top: $header-height;
}

@media (max-width: 1250px) {
  .main {
    padding: 1.5rem;
    min-height: calc(100dvh - $header-height);
    margin-top: $header-height;
  }
}

@media (max-width: $header-small-breakpoint) {
  .main {
    padding: 1.5rem;
    min-height: calc(100dvh - $header-height-mobile);
    margin-top: $header-height-mobile;
  }
}

@media (max-width: $main-padding-small-breakpoint) {
  .main {
    padding: 1rem;
  }
}
