@import "scss-variables";

:host {
  display: flex;
  flex-wrap: wrap;
}

.main {
  min-height: calc(100vh - $header-height);
  width: 1%;
  flex: 1 1;
  padding: 2rem;
  margin-top: $header-height;
}

@media (max-width: 1250px) {
  .main {
    padding: 1.5rem;
    min-height: calc(100vh - $header-height);
    margin-top: $header-height;
  }
}
