// static colors
$white: #ffffff;
$black: #000000;

$error-color: #ed4337;

$red: #e11717;
$red-hover: #cb1d1d;
$red-active: #ad1818;
$red-600: #e1171799;

// sizes
$auth-container-width: 31.25rem;
$header-height: 5.625rem;
$header-height-mobile: 3.75rem;
$header-menu-width: 6.25rem;
$header-menu-width-mobile: 3.75rem;
$header-menu-width-mobile-negative: -3.75rem;
$side-menu-width: 11.25rem;

// z-indexes
$negative-z-index: -1;
$component-z-index: 1;
$advanced-component-z-index: 2;
$popup-z-index: 3;
$popup-advanced-z-index: 4;
$modal-z-index: 5;

// breakpoints
$hide-side-menu-breakpoint: 768px;
$header-small-breakpoint: 768px;
$main-padding-small-breakpoint: 600px;
