// static colors
$primary-color: #1665d8;
$primary-color-hover: #1e56a8;
$primary-color-active: #0f366e;

$secondary-color: #602AC0;

$white: #ffffff;
$black: #000000;

$error-color: #ff0000;

// sizes
$auth-container-width: 31.25rem;
