<div class="side-menu-header">
  <a routerLink="/" aria-label="Keep Link" tabindex="0" class="side-menu-header__logo" (click)="close()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" class="side-menu-header__logo-image">
      <path fill="currentColor" d="M32 0c17.7 0 32 14.3 32 32S49.7 64 32 64 0 49.7 0 32 14.3 0 32 0z"/><path fill="#FFF" d="m48.7 20.1-4.8-4.8c-.8-.8-2-1.3-3.2-1.3s-2.3.5-3.2 1.3L33 20l3.2 3.2 4.6-4.7 4.8 4.7-12.7 12.7-2.7-2.7-3.2 3.2 2.7 2.7c.8.8 2 1.3 3.2 1.3 1.2 0 2.3-.5 3.2-1.3l12.6-12.6c1.7-1.8 1.7-4.7 0-6.4z"/><path fill="#FFF" d="m23.2 45.5-4.8-4.7 12.3-12.2 2.7 2.7 3.2-3.2-2.7-2.7c-.8-.8-2-1.3-3.2-1.3-1.2 0-2.3.5-3.2 1.3L15.3 37.6c-1.8 1.8-1.8 4.6 0 6.4l4.8 4.8c.8.8 2 1.3 3.2 1.3s2.3-.5 3.2-1.3l3.8-3.7-3.3-3.3-3.8 3.7z"/>
    </svg>
  </a>
</div>

<nav class="side-menu-content">
  <div *ngIf="showAddButton" class="side-menu__add">
    <app-button variant="rounded" class="side-menu__add-button" (buttonClick)="onAdd()">
      <app-plus-icon width="16" height="16" class="side-menu__add-button-icon" iconClass="side-menu__add-button-icon"></app-plus-icon>
      <span>Add Link</span>
    </app-button>
  </div>

  <ul class="side-menu__links">
    <li
      *ngFor="let navLink of navLinks"
      class="side-menu__link-wrapper"
    >
      <a
        [routerLink]="navLink.link"
        routerLinkActive="side-menu__link--active active"
        [routerLinkActiveOptions]="{ exact: navLink.exact }"
        tabindex="0"
        class="side-menu__link"
        (click)="close()"
      >
        <div [ngSwitch]="navLink.icon">
          <app-link-icon *ngSwitchCase="'link'" iconClass="side-menu__link-icon"></app-link-icon>
          <app-user-icon *ngSwitchCase="'user'" iconClass="side-menu__link-icon"></app-user-icon>
          <app-gear-icon *ngSwitchCase="'gear'" iconClass="side-menu__link-icon"></app-gear-icon>
        </div>

        <p class="side-menu__link-name">{{ navLink.name }}</p>
      </a>
    </li>
  </ul>
</nav>
