<div class="folders">
  <div
    *ngFor="let folderCol of alignedFolders"
    class="folders__col"
  >
    <app-folder
      *ngFor="let folder of folderCol"
      [folder]="folder"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
    ></app-folder>
  </div>
</div>

<app-confirm-modal
  *ngIf="deleteId"
  [@modalTranslate]
  [loading]="deleteLoading"
  (confirmModalClose)="onDeleteCancel()"
  (confirmModalSubmit)="onDeleteSubmit()"
>
  Are you sure? Do you want to delete this folder?
</app-confirm-modal>
