<button class="folder-modal-actions-bar__button" title="Add link for folder" (click)="onAddLink()">
  <app-link-icon width="14" height="14" iconClass="folder-modal-actions-bar__button-icon fill"></app-link-icon>
</button>

<button class="folder-modal-actions-bar__button" title="Edit folder" (click)="onEdit()">
  <app-edit-icon width="14" height="14" iconClass="folder-modal-actions-bar__button-icon fill"></app-edit-icon>
</button>

<button class="folder-modal-actions-bar__button" title="Delete folder" (click)="onDelete()">
  <app-delete-icon width="14" height="14" iconClass="folder-modal-actions-bar__button-icon stroke"></app-delete-icon>
</button>
