@import "mixins";

:host {
  position: fixed;
  z-index: $popup-z-index;
  bottom: 1rem;
  right: 1rem;
  width: 3.5rem;
  height: 3.5rem;
  @include flex(row, center, center);
}

:host::ng-deep {
  .fab__icon {
    width: 1.5rem;
    height: 1.5rem;
    fill: $white;
  }
}

.fab {
  width: 100%;
  height: 100%;
}
