@import "mixins";

:host {
  width: 100%;
  background-color: var(--card-color);
  border-radius: 0.375rem;
  box-shadow: 0 0 5px var(--shadow-md-color);
  @include flex(column, flex-start, flex-start);
}

:host(:hover) {
  .actions-bar__button {
    opacity: 1;
  }
}

:host::ng-deep {
  .actions-bar__button-icon {
    width: 0.875rem;
    height: 0.875rem;

    &.fill {
      fill: var(--primary-text-color);
    }

    &.stroke {
      stroke: var(--primary-text-color);
    }
  }

  .links__link {
    &:last-of-type {
      .links__link-image-last {
        border-bottom-left-radius: 0.375rem;
      }
    }
  }

  .links-empty__button {
    width: 100%;
  }
}

.folder {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: default;
  padding: 1rem 1rem 0 1rem;
  width: 100%;
  margin-bottom: 0.1rem;
  @include flex(column, flex-start, flex-start);
}
.folder__name {
  width: 100%;
  line-height: 1.35rem;
  @include font(1.125rem, 700, var(--primary-text-color));
}
.folder__description {
  margin-top: 0.5rem;
  line-height: 1.25rem;
  @include font(0.875rem, 400, var(--primary-text-color));
}

.actions-bar {
  width: 100%;
  min-height: 2.5rem;
  background-color: transparent;
  padding: 0 0.5rem;
  gap: 1rem;
  @include flex(row, center, flex-start);

  @include noHover() {
    .actions-bar__button {
      opacity: 1 !important;
    }
  }
}
.actions-bar__button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
  padding: 0;
  opacity: 0;
  border: none;
  @include flex(row, center, center);
  transition: background-color .2s ease, opacity .2s ease;

  &:focus-visible {
    opacity: 1 !important;
  }

  @include hover() {
    background-color: var(--white-background-hover);
  }

  @include active() {
    background-color: var(--white-background-active);
  }
}

.links {
  width: 100%;
  @include flex(column, flex-start, flex-start);
}
.links__link {
  width: 100%;
  border-top: 0.063rem solid var(--separator-border-color);
}

.links-empty {
  width: 100%;
  border-top: 0.063rem solid var(--separator-border-color);
  padding: 1rem;
  @include flex(column, flex-start, flex-start);
}
.links-empty__button-wrapper {
  width: 100%;
}

.links-rest {
  width: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  cursor: default;
  border-top: 0.063rem solid var(--separator-border-color);
  padding: 0.5rem 0.75rem;
  @include flex(row, center, flex-start);
}
.links-rest__text {
  letter-spacing: 0.2px;
  @include font(0.813rem, 400, var(--primary-text-color));
}
