<button class="folder" (click)="onOpenFolder()">
  <h3 class="folder__name">
    {{ folder.name }}
  </h3>

  <p *ngIf="folder.description" class="folder__description">
    {{ folder.description }}
  </p>
</button>

<div class="actions-bar">
  <button class="actions-bar__button" aria-label="Edit" (click)="onEdit()">
    <app-edit-icon width="14" height="14" iconClass="actions-bar__button-icon fill"></app-edit-icon>
  </button>

  <button class="actions-bar__button" aria-label="Delete" (click)="onDelete()">
    <app-delete-icon width="14" height="14" iconClass="actions-bar__button-icon stroke"></app-delete-icon>
  </button>
</div>

<div
  *ngIf="links.length; else emptyLinks"
  class="links"
>
  <app-link
    *ngFor="let link of links"
    [link]="link"
    [imageClass]="restLinksCount <= 0 ? 'links__link-image-last' : ''"
    class="links__link"
  ></app-link>
</div>
<ng-template #emptyLinks>
  <div class="links-empty">
    <app-button
      class="links-empty__button-wrapper"
      buttonClass="links-empty__button"
      (buttonClick)="onAddLink()"
    >
      Add Link
    </app-button>
  </div>
</ng-template>

<button
  *ngIf="restLinksCount > 0"
  class="links-rest"
  (click)="onOpenFolder()"
>
  <span class="links-rest__text">
    + {{ restLinksCount }} MORE
  </span>
</button>
